*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header{
    width: 100%;
    max-width: 1600px;
    background-color: rgba(26, 11, 46, 1)

}
header .navigation{
    /* margin-top: 16px;
    margin-bottom: 16px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

}
header h2{
    font-weight: 800;
    font-size: 32px;
    cursor: pointer;
    

}
nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;

}
nav ul a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    color: white;

}

.subscribe-btn{
    
    display: inline-flex;
    border-radius: 20px;
    border-style: none;
    justify-content: center;
    align-items: center;
    padding: 12px 16px ;
    background: linear-gradient(270deg,rgba(247, 233, 63, 1),rgba(251,9,180,1),rgba(145,0,248,1));
    color: white;
    gap: 10px;
    cursor: pointer;
    

}
.color-gradient{
    background-image: linear-gradient(270deg,rgba(247, 233, 63, 1),rgba(251,9,180,1),rgba(145,0,248,1));
    background-clip: text;
    color: transparent;
}
/* main section style */
main .hero-banner{
    background-image:url(assets/hero-circle.png) , url(assets/hero-bg.png);
    background-repeat: no-repeat,no-repeat;
    background-size: 350px 350px, cover;
    background-position: center,center 10%;
    height: 80vh;
   
   

}
.hero-banner .mic-container{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 25vh;
}
.hero-banner .new-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner .new{
    padding: 8px 16px;
    border-radius: 1000px;
    border-style: none;
    background-color: rgba(0, 255, 136, 1);
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    
    
}
/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
main .hero-banner .circle-container {
    width: 350px;
    height: 350px;
    position: relative;
    
}
.hero-banner .circle-container .circle{
    width: 100%;
    height: 100%;

}
.hero-banner .circle-container .mic{
    bottom: 80px;
    right: 115px;
    position: absolute;
} */










