*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header{
    width: 100%;
    max-width: 1600px;
    background-color: rgba(26, 11, 46, 1)

}
header .navigation{
    /* margin-top: 16px;
    margin-bottom: 16px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

}
header h2{
    font-weight: 800;
    font-size: 32px;
    cursor: pointer;
    

}
nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;

}
nav ul a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    color: white;

}

.subscribe-btn{
    
    display: inline-flex;
    border-radius: 20px;
    border-style: none;
    justify-content: center;
    align-items: center;
    padding: 12px 16px ;
    background: linear-gradient(270deg,rgba(247, 233, 63, 1),rgba(251,9,180,1),rgba(145,0,248,1));
    color: white;
    gap: 10px;
    cursor: pointer;
    

}
.color-gradient{
    background-image: linear-gradient(270deg,rgba(247, 233, 63, 1),rgba(251,9,180,1),rgba(145,0,248,1));
    background-clip: text;
    color: transparent;
}
/* main section style */
main .hero-banner{
    background-image: url("assets/hero-bg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  

   
   

}
.circle-container {
    position: relative;       
    width: 350px;
    height: 350px;
    
    background-image: url("assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;   
    align-items: center;     
}
.circle-container .mic {
      position: absolute;

}
.hero-banner .new{
    position: absolute;
    top: 15px;
    right: 6px;
    padding: 8px 16px;
    border-radius: 1000px;
    border-style: none;
    background-color: rgba(0, 255, 136, 1);
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    
    
}
.hero-banner p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
}
.hero-banner .btn-container{
    padding-top: 25px;
    display: flex;
    gap: 12px;

}
.hero-banner h1{
    font-weight: 800;
    font-size: 32px;
    color: white;
    padding-top: 20px;
}
.btn-container .spotify-btn{
      background: linear-gradient(270deg,rgba(247, 233, 63, 1),rgba(251,9,180,1),rgba(145,0,248,1));
      border-radius: 1000px;
      padding: 12px 20px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border: none;
      color: white;
      cursor: pointer;
}
.btn-container .subscribe-btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: solid 1px rgba(0, 255, 136, 1);
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgba(26, 11, 46, 1);
    color: rgba(0, 255, 136, 1);

}
main .about{
    background-color: rgba(26, 11, 46, 1);
    padding-top: 150px;
}
main .about h1{
    font-weight:700;
    font-size: 48px;
    color: white;
    padding-top: 20px;
    text-align: center;
    
}
main .about .inner-message{
    padding-top: 16px;
    text-align: center;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}
.success-part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.success-number{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.success-number .inner-numer{
    color: rgba(0, 255, 136, 1);
    font-size: 48px;
    font-weight: 900;
}
.success-number p{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.grid-part{
    padding-top: 60px;

}
.grid-part h3{
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 24px;
    margin-right: 40px;
    margin-left: 40px;

}
.grid-section h2{
    padding-bottom: 15px;
}
.grid-section p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}
.grid-section .premium-audio-quality{
    color: white;
    grid-row: span 2;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;


}
.grid-section .exclusive-interview{
    color: white;
    grid-column: span 2;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;

}
.grid-section .card-resource{
    color: white;
    grid-column: span 1;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;
}
.grid-section .global-community{
    color: white;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;
    grid-column: span 2;
}
.grid-section .mobile-friendly{

    color: white;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;
    grid-column: span 2;
}




/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
main .hero-banner .circle-container {
    width: 350px;
    height: 350px;
    position: relative;
    
}
.hero-banner .circle-container .circle{
    width: 100%;
    height: 100%;

}
.hero-banner .circle-container .mic{
    bottom: 80px;
    right: 115px;
    position: absolute;
} */










