*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header{
    width: 100%;
    max-width: 1600px;
    background-color: rgba(26, 11, 46, 1)

}
header .navigation{
    /* margin-top: 16px;
    margin-bottom: 16px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    

}
header h2{
    font-weight: 800;
    font-size: 32px;
    cursor: pointer;
    

}
nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;

}
nav ul a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    color: white;

}

.subscribe-btn{
    
    display: inline-flex;
    border-radius: 20px;
    border-style: none;
    justify-content: center;
    align-items: center;
    padding: 12px 16px ;
   
    background: linear-gradient(270deg,rgba(243, 228, 62, 0.992),rgb(240, 13, 172),rgba(32, 243, 225, 0.946));
    color: white;
    gap: 10px;
    cursor: pointer;
    background-size: 300% 100%;
    animation: flowGradient 10s linear infinite;
    
    
    

}
@keyframes flowGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 300% 50%; }
}


.color-gradient{
    background-image: linear-gradient(270deg,rgba(247, 233, 63, 1),rgba(251,9,180,1),rgba(180, 0, 255, 1),rgba(156, 50, 231, 0.944));
    background-clip: text;
    color: transparent;
}
.humberger{
    display: none;
    cursor: pointer;
}

main .hero-banner{
    background-image: url("assets/hero-bg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    
   

   
   

}
.circle-container {
    position: relative;       
    width: 350px;
    height: 350px;
    
    background-image: url("assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;   
    align-items: center;     
   
    box-sizing: border-box;
    
    

}
.circle-container .mic {
      position: absolute;
      width: 50%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

}
.hero-banner .new{
    position: absolute;
    top: 15px;
    right: 6px;
    padding: 8px 16px;
    border-radius: 1000px;
    border-style: none;
    background-color: rgba(0, 255, 136, 1);
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    
    
}
.hero-banner p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
}
.hero-banner .btn-container{
    padding-top: 25px;
    display: flex;
    gap: 12px;

}
.hero-banner h1{
    font-weight: 800;
    font-size: 32px;
    color: white;
    padding-top: 20px;
}
.btn-container .spotify-btn{
      background: linear-gradient(270deg,rgba(247, 233, 63, 1),rgba(251,9,180,1),rgba(145,0,248,1));
      border-radius: 1000px;
      padding: 12px 20px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border: none;
      color: white;
      cursor: pointer;
}
.btn-container .subscribe-btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: solid 1px rgba(0, 255, 136, 1);
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgba(26, 11, 46, 1);
    color: rgba(0, 255, 136, 1);

}
main .about{
    background-color: rgba(26, 11, 46, 1);
    padding-top: 150px;
    padding-bottom: 80px;
}
main .about h1{
    font-weight:700;
    font-size: 48px;
    color: white;
    padding-top: 20px;
    text-align: center;
    
}
main .about .inner-message{
    padding-top: 16px;
    text-align: center;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}
.success-part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.success-number{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.success-number .inner-numer{
    color: rgba(0, 255, 136, 1);
    font-size: 48px;
    font-weight: 900;
}
.success-number p{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.grid-part{
    padding-top: 60px;

}
.grid-part h3{
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 24px;
    margin-right: 40px;
    margin-left: 40px;

}
.grid-section h2{
    padding-bottom: 15px;
}
.grid-section p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}
.grid-section .premium-audio-quality{
    color: white;
    grid-row: span 2;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;


}
.grid-section .exclusive-interview{
    color: white;
    grid-column: span 2;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;

}
.grid-section .card-resource{
    color: white;
    grid-column: span 1;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;
}
.grid-section .global-community{
    color: white;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;
    grid-column: span 2;
}
.grid-section .mobile-friendly{

    color: white;
    background-color: rgba(53,17,101,0.4);
    border-radius: 40px;
    padding: 40px;
    grid-column: span 2;
}
.feature-episodes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1600px;
    
    

    
    
}
.feauture-heading,.host-title{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 40px;
}
.feature-episodes .feature-card{
    
    margin-top: 30px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 25vw;
    
    border-radius: 30px;
    background-color: rgba(53,17,101,0.4);
   
}
.feature-card iframe{
    display: block;
    width: 100%;
    height: 180px;
    border-radius: 20px;
    border: none;

}
.feature-card h2{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.feature-card p{
    color: white;

}
.feature-card .clock{
    color: rgba(0, 255, 136, 1);
    margin-top: 20px;
}
.host-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px 100px;
    border-radius: 30px;
    background-color:  rgba(53,17,101,0.4);
    padding: 30px;
}
.host-section .host-info .host-name{
   
   color: white;
   margin-bottom: 20px;
   font-size: 32px;
   font-weight: 700;
}
.host-info p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}
.host-info .image-part{
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
    gap: 20px;
}
.footer-banner{
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    min-height: 60vh;
    background-size: cover;
    background-position: center 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
footer h2{
    text-align: center;
    margin-top: 10px;
    font-size: 48px;
    font-weight: 800;
}
footer .footer-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 30px;

}
footer .footer-image-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
footer .footer-image-section div h6{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
@media screen and (max-width:992px){
    nav ul , .subscribe-btn{
        display: none;
    }
    .humberger{
        display: block;
    }
    .circle-container .mic {
    position: absolute;
    width: 30%; 
    height: auto; 
    top: 20%; 
    left: 35%; 
}

    .success-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        gap: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .success-part .inner-numer{
        font-size: 36px;
    }
    .grid-section {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        gap: 20px; 
        margin-left: 20px;
        margin-right: 20px;
    }
    .grid-section > div {
        grid-column: span 1 ; 
        grid-row: auto ;
        padding: 30px; 
    }
     .feature-episodes {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        align-items: center; 
        padding-left: 20px;
        padding-right: 20px;
    }
    .feature-episodes .feature-card {
        width: 100%; 
        max-width: 600px; 
        padding: 20px; 
    }
     .feature-episodes .feature-card h2 {
        font-size: 20px; 
        padding-top: 20px;
    }
     .feature-episodes .feature-card p {
        font-size: 14px; 
    }
    .feature-episodes .feature-card iframe {
        height: 200px;
    }
    .host-section{
        flex-direction: column;
    }
    .host-name{
        text-align: center;
    }
    .host-info p{
        text-align: center;
    }
    .host-info .image-part{
        justify-content: center;
    }
     footer .footer-image-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        justify-items: center; 
        align-items: center;
    }


}
@media  screen and (max-width:992px) and (min-width:577px) {
    .hero-banner{
        padding-top: 100px;
    }
    .circle-container{
        width: 280px;
        height: 280px;
        background-size: contain;

    }
     .hero-banner h1 {
        font-size: 28px; 
        padding-top: 15px;
        text-align: center;
    }
     .hero-banner p {
        font-size: 15px;
        padding: 10px 40px; 
        text-align: center;
    }
     .btn-container {
        
        gap: 12px;
        padding-top: 15px;
    }
     .btn-container .spotify-btn,
    .btn-container .subscribe-btn-2 {
         width: auto;
        padding: 12px 20px;
    }
     .circle-container {
        width: 200px;
        height: 200px;
    }

    .circle-container .mic {
        width: 35%;
        top: 50%;
        left: 50%;

    }
     .about .inner-message {
        padding-left: 60px;  
        padding-right: 60px;
        font-size: 15px;      
      
    }

    
}
.footer-copyright{
    color: white;
    padding-top: 90px;
}
@media screen and (max-width:576px){
    .hero-banner {
        height: auto; 
        padding-top: 80px; 
        padding-bottom: 40px;
    }
     .circle-container {
        width: 200px;  
        height: 200px;
        background-size: contain; 
    }
      .hero-banner h1 {
        font-size: 24px; 
        padding-top: 15px;
        text-align: center;
    }
     .hero-banner p {
        font-size: 14px;
        padding: 10px 20px; 
        text-align: center;
    }
    .btn-container {
        
        gap: 10px;
        padding-top: 15px;
    }
    .btn-container .spotify-btn,
    .btn-container .subscribe-btn-2 {
        width: auto; 
        padding: 10px 10px;
    }
      .circle-container {
        width: 200px;
        height: 200px;
    }

    .circle-container .mic {
        width: 30%; 
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
     .about .inner-message {
        padding-left: 10px;  
        padding-right: 10px;
        font-size: 10px;   
        
       
    }

}















